shared_buffers = 
effective_cache_size = 
maintenance_work_mem = 
work_mem = 
timescaledb.max_background_workers = 
max_worker_processes = 
max_parallel_workers_per_gather = 
max_parallel_workers = 
wal_buffers = 
min_wal_size = 
max_wal_size = 
default_statistics_target = 
random_page_cost = 
checkpoint_completion_target = 
max_connections = 
max_locks_per_transaction = 
autovacuum_max_workers = 
autovacuum_naptime = 
default_toast_compression = 
jit = 
effective_io_concurrency = 
